@charset "utf-8";

.container{
	width: 700px !important;
}
section#itens ul{
	padding: 0 !important;
	list-style: none;
	width: 100%;
}
section#itens ul li{
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	cursor: pointer;
}
li.marcado{
	text-decoration: line-through;
	background-color: rgb(255,100,100);
}

/*form#formAdd{
	display: none;
}*/